<h2 style="color: #B00100; margin: 0 auto">Show item</h2> <br />

<h4><%= @item.name.upcase %></h4>
<table>
	<tr>
		<th>Id</th>	
		<th>Name</th>
		<th>Price</th>
		<th>Description</th>
	</tr>
	<tr>
		<th><%= @item.id %></th>
		<th><%= @item.name %></th>
		<th><%= @item.price %></th>
		<th><%= @item.description %></th>
	</tr>
</table>
<br />

<%= button_to "Edit #{@item.name}", edit_item_path, method: :get %><br/>
<%= button_to "Delete #{@item.name}", item_path(@item), method: :delete %><br/>
<%= button_to "All items", items_path, method: :get %><br/>

<%= render partial: 'shared/email' %>